In [1]:
# Import library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

# Setup pandas
pd.set_option('display.max_columns', None)

In [6]:
# Get the current working directory
os.getcwd()

'/Users/ahmadyusufalbadri/Documents/1 - Learning/4 - Competition/datavidia 2025/Datavidia'

In [9]:
# Import data
df = pd.read_csv('data/train.csv')
df.sample(5)

,Unnamed: 0,Negara/Tahun,Emisi Savanna Api,Emisi Kebakaran Hutan,Emisi Residu Tanaman,Emisi Budidaya Padi,Emisi Tanah Organik Yang Dikeringkan (Co2),Emisi Pembuatan Pestisida,Emisi Transportasi Makanan,Lahan Hutan,Konversi Hutan Bersih,Emisi Konsumsi Rumah Tangga Makanan,Emisi Ritel Makanan,Emisi Penggunaan Listrik Di Pertanian,Emisi Kemasan Makanan,Emisi Sistem Agrifood Pembuangan Limbah,Emisi Pengolahan Makanan,Emisi Manufaktur Pupuk,Emisi IPPU,Emisi Kotoran Diterapkan Pada Tanah,Emisi Pupuk Kandang Di Padang Rumput,Emisi Manajemen Pupuk,Emisi Kebakaran Di Tanah Organik,Emisi Kebakaran Di Hutan Tropis Yang Lembab,Penggunaan Energi Di Pertanian,Populasi Pedesaan,Populasi Perkotaan,Total Populasi - Pria,Total Populasi - Wanita,Emisi Total,Peningkatan Suhu Rata - Rata ° C
2518,2518,Isle of Man/2000,0.0021,0.0224,NaN,926.342278,20.4330,11.481085,1.2162,NaN,NaN,2.9169,1.960100,17.004663,83.780417,7.557300,483.126100,2005.792129,NaN,NaN,6233.579114,NaN,0.0,0.0000,NaN,34954.0,37600.0,36936.0,38626.0,9795.213786,0.685417
4546,4546,Seychelles/2002,0.0000,0.0000,NaN,921.664109,0.0000,0.000000,9.0134,0.0000,0.0000,6.5050,3.853200,17.004663,67.631366,60.542300,3.820700,779.566792,2.0302,0.7863,2.889100,1.3206,0.0,0.0000,14.5411,41364.0,42839.0,41587.0,40847.0,1891.168830,0.528917
4880,4880,Switzerland/2013,0.0000,0.0000,50.5331,495.646742,820.5985,31.000000,2117.3971,-3023.7173,511.6905,476.2182,2548.814900,24.426700,103.675000,1394.405800,2746.206200,565.682410,6598.5710,442.1935,338.175000,1105.6741,0.0,0.0000,509.7722,2140993.0,5991681.0,3995015.0,4093352.0,17856.963652,0.868000
3259,3259,Mayotte/2010,0.0000,0.0000,NaN,1746.105511,0.0000,11.481085,10.8008,-1.9419,26.4660,1.2873,44.389424,17.004663,77.393651,65.072347,451.196291,2005.792129,NaN,NaN,2148.251693,NaN,0.0,0.0000,8.1506,106542.0,102176.0,102929.0,108856.0,6611.449593,0.882833
575,575,Bhutan/1996,0.7866,18.1561,11.4621,96.567300,0.0000,1.000000,2.1087,-6609.6322,0.0000,9.6840,0.706600,0.146400,67.631366,77.937900,252.214190,4033.512238,135.4109,13.8681,69.158300,41.9651,0.0,6.5193,3.5099,407866.0,111416.0,278120.0,259374.0,-1767.287106,0.286583

In [10]:
# Remove the first column and add 2 columns for negara and tahun
df[['Negara', 'Tahun']] = df['Negara/Tahun'].str.split('/', expand=True)
df = df.iloc[:, 2:]
df.sample(5)

,Emisi Savanna Api,Emisi Kebakaran Hutan,Emisi Residu Tanaman,Emisi Budidaya Padi,Emisi Tanah Organik Yang Dikeringkan (Co2),Emisi Pembuatan Pestisida,Emisi Transportasi Makanan,Lahan Hutan,Konversi Hutan Bersih,Emisi Konsumsi Rumah Tangga Makanan,Emisi Ritel Makanan,Emisi Penggunaan Listrik Di Pertanian,Emisi Kemasan Makanan,Emisi Sistem Agrifood Pembuangan Limbah,Emisi Pengolahan Makanan,Emisi Manufaktur Pupuk,Emisi IPPU,Emisi Kotoran Diterapkan Pada Tanah,Emisi Pupuk Kandang Di Padang Rumput,Emisi Manajemen Pupuk,Emisi Kebakaran Di Tanah Organik,Emisi Kebakaran Di Hutan Tropis Yang Lembab,Penggunaan Energi Di Pertanian,Populasi Pedesaan,Populasi Perkotaan,Total Populasi - Pria,Total Populasi - Wanita,Emisi Total,Peningkatan Suhu Rata - Rata ° C,Negara,Tahun
1320,52.6404,57.2901,44.0167,1212.848000,0.0000,108.927398,543.8987,-10946.0340,1.208350e+02,783.8555,428.460800,167.462900,4.754400,3084.052200,54.203500,27.670100,1812.4133,328.2384,2074.200600,431.4733,0.0,51.8669,1873.8467,2805394.0,8100649.0,5513090.0,5413614.0,2.316921e+03,1.225167,Cuba,1995
3259,0.0000,0.0000,NaN,1746.105511,0.0000,11.481085,10.8008,-1.9419,2.646600e+01,1.2873,44.389424,17.004663,77.393651,65.072347,451.196291,2005.792129,NaN,NaN,2148.251693,NaN,0.0,0.0000,8.1506,106542.0,102176.0,102929.0,108856.0,6.611450e+03,0.882833,Mayotte,2010
667,11123.1473,12184.1197,3854.2338,7178.555500,339.8606,900.000000,9004.3406,-346950.8412,1.385209e+06,11511.4232,5115.782600,383.296300,2449.380700,69692.052300,3514.213600,2075.517200,36277.7759,7873.0943,62149.754800,9149.7466,0.0,11926.1041,11425.0649,38948117.0,110404028.0,74926452.0,75779994.0,1.316385e+06,0.497167,Brazil,1990
1042,313.4201,838.1820,23891.3751,164915.255600,3701.2430,5924.000000,15819.8581,-350983.5047,0.000000e+00,83610.8999,15668.865700,39928.545800,44581.189100,163438.036400,117044.993700,61590.395700,198844.7387,20043.0180,45119.463000,53800.4430,0.0,1.8252,95020.4568,869305609.0,329576683.0,601711211.0,578768016.0,8.031127e+05,0.840333,China,1990
444,0.0000,0.0000,0.0192,246.407276,0.0000,14.000000,46.4900,-0.8475,0.000000e+00,54.9896,105.523100,24.285117,128.200389,164.957700,209.587728,658.540604,80.5008,8.0460,12.984100,7.6889,0.0,0.0000,7.1255,193719.0,88790.0,132304.0,144561.0,1.768499e+03,0.681667,Barbados,2013

In [12]:
# Quick check on duplicated data and missing values
print('The number of duplicated rows:', df.duplicated().sum(), '\n')
print('Missing values check:')
print(df.isna().sum())

The number of duplicated rows: 0

Missing values check:
Emisi Savanna Api                                25
Emisi Kebakaran Hutan                            75
Emisi Residu Tanaman                           1118
Emisi Budidaya Padi                               0
Emisi Tanah Organik Yang Dikeringkan (Co2)        0
Emisi Pembuatan Pestisida                         0
Emisi Transportasi Makanan                        0
Lahan Hutan                                     397
Konversi Hutan Bersih                           397
Emisi Konsumsi Rumah Tangga Makanan             389
Emisi Ritel Makanan                               0
Emisi Penggunaan Listrik Di Pertanian             0
Emisi Kemasan Makanan                             0
Emisi Sistem Agrifood Pembuangan Limbah           0
Emisi Pengolahan Makanan                          0
Emisi Manufaktur Pupuk                            0
Emisi IPPU                                      599
Emisi Kotoran Diterapkan Pada Tanah             752
Emisi Pupuk Kandang Di Padang Rumput              0
Emisi Manajemen Pupuk                           752
Emisi Kebakaran Di Tanah Organik                  0
Emisi Kebakaran Di Hutan Tropis Yang Lembab     125
Penggunaan Energi Di Pertanian                  782
Populasi Pedesaan                                 0
Populasi Perkotaan                                0
Total Populasi - Pria                             0
Total Populasi - Wanita                           0
Emisi Total                                       0
Peningkatan Suhu Rata - Rata ° C                  0
Negara                                            0
Tahun                                             0
dtype: int64